.forgot-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
  z-index: 1050;
}

.forgot-content {
  background-color: white;
  padding: 30px;
  width: 600px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1100;
  height: auto;

  border-radius: 0px 0px 0px 0px;
}

.forgot-header {
  display: flex;
  justify-content: center;
  font-size: 32px;
  font-weight: 500;
  line-height: 48px;
  text-align: left;
  text-decoration-skip-ink: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.forgot-labels {
  font-size: 15px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
  text-decoration-skip-ink: none;
  display: flex;
  color: #8f8f8f;
  justify-content: center;
}

.formGrid {
  padding-top: 15px;
  padding-left: 100px;
  padding-right: 100px;
}

.labels {
  font-size: 15px;
  justify-self: center;
  color: #8f8f8f;
  margin-bottom: 0;
  text-decoration: underline;
  cursor: pointer;
}

.plabels {
  font-size: 15px;
  justify-self: start;
  color: #8f8f8f;
  margin-bottom: 5px;
}
